<!DOCTYPE html>
<html lang="en" ng-app="CellAutApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cellular Automaton</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body ng-controller="CellAutCtrl as vm">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CellAut</a>
            </div>
            <div class="navbar-collapse collapse">
                <p class="navbar-text">Rule: {{vm.cellaut.rule}}</p>
                <ul class="nav navbar-nav">
                    <li><button type="button" class="btn btn-default navbar-btn" ng-click="vm.start()" ng-show="!vm.isRunning"><span class="glyphicon glyphicon-play"></span></button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" ng-click="vm.stop()" ng-show="vm.isRunning"><span class="glyphicon glyphicon-pause"></span></button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" ng-click="vm.cellaut.randomize()"><span class="glyphicon glyphicon-refresh"></span></button></li>
                </ul>
                <p class="navbar-text"><span class="badge">{{vm.cellaut.generation}}</span></p>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container fill">
        <canvas cellaut model="vm.cellaut"></canvas>
    </div>

    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="app.js"></script>
    <script src="cellaut-service.js"></script>
    <script src="cellaut-controller.js"></script>
    <script src="cellaut-directive.js"></script>
</body>

</html>
